%flex-column {
    display: flex;
    flex-direction: column;
}

.abacus__row {
    @extend %flex-column;
}

.abacus__section {
    @extend %flex-column;
    justify-content: space-between;
    border: 3px double;
    border-radius: 1rem;

    &_upper {
        flex: 0 0 66px;
        margin-bottom: 1rem;
    }

    &_lower {
        flex: 1 1 226px;
    }
}

.abacus__beads-list {
    @extend %flex-column;
}
