@import "../../sass/_variables.scss";

.bead {
    width: $bead-width;
    height: $bead-height;
    background: none center/contain no-repeat;

    &_blue {
        background-image: url(../../images/bead-blue.png);
    }

    &_orange {
        background-image: url(../../images/bead-yellow.png);
    }

    &_align-top {
        margin-bottom: auto;
    }
    &_align-bottom {
        margin-top: auto;
    }

    &__sectional {
        margin-top: -10px;
    }

    @for $i from 1 through $max-beads-count {
        &:nth-child(#{$max-beads-count - $i + 1}) {
            z-index: $i;
        }
    }
}
