.bead {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;

    &_blue {
        background: blue;
    }

    &_orange {
        background: orange;
    }

    &_align-top {
        margin-bottom: auto;
    }
    &_align-bottom {
        margin-top: auto;
    }
}
