@import "../../sass/_variables.scss";

.bead {
    width: $bead-width;
    height: $bead-height;
    background: none center/contain no-repeat;
    cursor: pointer;

    &_blue {
        background-image: url(../../assets/images/bead-blue.png);
    }

    &_orange {
        background-image: url(../../assets/images/bead-yellow.png);
    }

    &_align-top {
        margin-bottom: auto;
    }
    &_align-bottom {
        margin-top: auto;
    }

    &__sectional {
        margin-top: -10px;
    }

    @for $i from 1 through $max-beads-count {
        &:nth-child(#{$max-beads-count - $i + 1}) {
            z-index: $i;
        }
    }

    &:hover {
        animation: bead-shaking 0.6s infinite;
    }
}

@keyframes bead-shaking {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(1px, 1px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}
