.control-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    &__item {
        display: flex;
        flex-direction: column;

        .labeled-select__label {
            text-align: center;
            margin-bottom: 0.5rem;
        }
    }
}
